.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 18px 20px;
}

.gallery__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
}

.wrapping-row {
  display: flex;
  flex-wrap: wrap;
  gap: 18px 20px;
}

.gallery__list {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  display: contents;
}

.gallery__new-card-btn {
  width: 325px;
  height: 205px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: start;
  cursor: pointer;
  background-color: #d9d9d9;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
}

.gallery__new-card-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}
