.page {
  background-color: #ececec;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #1a1a1a;
  line-height: 1;
  padding: 20px 40px 32px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

button {
  font: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
}

.page__main-content {
  flex-grow: 1;
  margin-bottom: 138px;
}

.page__main-content_carousel {
  margin-top: 106px;
}

.page__main-content.page__main-content_location_carousel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 106px;
}

.wrapping-row {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(min(325px, 100%), 353px));
  gap: 18px 20px;
}

@media screen and (max-width: 600px) {
  .page {
    padding: 20px 20px 32px;
  }

  .page__main-content {
    margin-bottom: 120px;
  }

  .wrapping-row {
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(min(280px, 100%), 320px));
  }
}

@media screen and (max-width: 360px) {
  .wrapping-row {
    grid-template-columns: 1fr;
  }
}
